@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/recordings/css")
}

<div class="recordings vtab-container">

    <ul class="vtab-buttons">
        <li data-tab="recordings-tab-available" class="first selected"><i class="icon icon-play"></i><span data-lang="Avaialbe" /></li>
        <li data-tab="recordings-tab-pending"><i class="icon icon-time"></i><span data-lang="Pending" /></li>
        <li data-tab="recordings-tab-recurring" class="last"><i class="icon icon-magic"></i><span data-lang="Recurring" /></li>
    </ul>
    
    <div class="vtab-content selected" id="recordings-tab-available">
        @Html.Partial("_Available")
    </div>
    
    <div class="vtab-content" id="configuration-tab-pending">
        @Html.Partial("_Pending")
    </div>

    <div class="vtab-content" id="configuration-tab-recurring">
        @Html.Partial("_Recurring")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/recordings/js")
}