@{
    ViewBag.Title = "Recordings";
    Layout = "";
}

@Styles.Render("~/Content/recordings/css")

<div class="recordings vtab-container">
    <ul class="vtab-buttons">
        <li data-tab="available" ng-class="{ first: true, selected: selectedTabIndex == 0 }" ng-click="selectedTabIndex = 0">
            <i class="icon icon-play"></i><span data-lang="Available" />
        </li>
        <li data-tab="pending" ng-class="{ selected: selectedTabIndex == 1 }" ng-click="selectedTabIndex = 1">
            <i class="icon icon-time"></i><span data-lang="Pending" />
        </li>
        <li data-tab="recurring" ng-class="{ last: true, selected: selectedTabIndex == 2 }" ng-click="selectedTabIndex = 2">
            <i class="icon icon-magic"></i><span data-lang="Recurring" />
        </li>
    </ul>
    <div ng-class="'vtab-content ' + tabSelected('available')" id="recordings-tab-available" ng-show="selectedTabIndex == 0">
        @Html.Partial("_Available")
    </div>
    
    <div ng-class="'vtab-content ' + tabSelected('pending')"  id="recordings-tab-pending" ng-show="selectedTabIndex == 1">
        pending
        @Html.Partial("_Pending")
    </div>

    <div ng-class="'vtab-content ' + tabSelected('recurring')"  id="recordings-tab-recurring" ng-show="selectedTabIndex == 2">
        recurring
        @Html.Partial("_Recurring")
    </div>
</div>

<ul id="recordings-list-statuskey">
    <li><span class="status status_0"></span><span data-lang="Pending" /></li>
    <li><span class="status status_1"></span><span data-lang="In Progress" /></li>
    <li><span class="status status_2"></span><span data-lang="Completed" /></li>
    <li><span class="status status_3"></span><span data-lang="Completed With Errors" /></li>
    <li><span class="status status_4"></span><span data-lang="Place Holder" /></li>
    <li><span class="status status_5"></span><span data-lang="Conflict" /></li>
</ul>

@Scripts.Render("~/Scripts/vtabs.js")