@{
    ViewBag.Title = "Recordings";
    Layout = "";
}

@Styles.Render("~/Content/recordings/css")

<div class="recordings vtab-container">
    <ul class="vtab-buttons">
        <li data-tab="available" ng-class="'first ' + tabSelected('available')">
            <a href="#/recordings/available">
                <i class="icon icon-play"></i><span data-lang="Available" />
            </a>
        </li>
        <li data-tab="pending" ng-class="tabSelected('pending')">
            <a href="#/recordings/pending">
                <i class="icon icon-time"></i><span data-lang="Pending" />
            </a>
        </li>
        <li data-tab="recurring" ng-class="'last ' + tabSelected('recurring')">
            <a href="#/recordings/recurring">
                <i class="icon icon-magic"></i><span data-lang="Recurring" />
            </a>
        </li>
    </ul>
    
    <div ng-class="'vtab-content ' + tabSelected('available')" id="recordings-tab-available">
        @Html.Partial("_Available")
    </div>
    
    <div ng-class="'vtab-content ' + tabSelected('pending')"  id="recordings-tab-pending">
        @Html.Partial("_Pending")
    </div>

    <div ng-class="'vtab-content ' + tabSelected('recurring')"  id="recordings-tab-recurring">
        @Html.Partial("_Recurring")
    </div>
</div>

<ul id="recordings-list-statuskey">
    <li><span class="status status_0"></span><span data-lang="Pending" /></li>
    <li><span class="status status_1"></span><span data-lang="In Progress" /></li>
    <li><span class="status status_2"></span><span data-lang="Completed" /></li>
    <li><span class="status status_3"></span><span data-lang="Completed With Errors" /></li>
    <li><span class="status status_4"></span><span data-lang="Place Holder" /></li>
    <li><span class="status status_5"></span><span data-lang="Conflict" /></li>
</ul>

@Scripts.Render("~/Scripts/vtabs.js")