@{
    ViewBag.Title = "Recordings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/recordings/css")
}

<div class="recordings vtab-container">

    <ul class="vtab-buttons">
        <li data-tab="recordings-tab-available" class="first selected"><i class="icon icon-play"></i><span data-lang="Available" /></li>
        <li data-tab="recordings-tab-pending"><i class="icon icon-time"></i><span data-lang="Pending" /></li>
        <li data-tab="recordings-tab-recurring" class="last"><i class="icon icon-magic"></i><span data-lang="Recurring" /></li>
    </ul>
    
    <div class="vtab-content selected" id="recordings-tab-available">
        @Html.Partial("_Available")
    </div>
    
    <div class="vtab-content" id="recordings-tab-pending">
        @Html.Partial("_Pending")
    </div>

    <div class="vtab-content" id="recordings-tab-recurring">
        @Html.Partial("_Recurring")
    </div>
</div>

<ul id="recordings-list-statuskey">
    <li><span class="status status_0"></span><span data-lang="Pending" /></li>
    <li><span class="status status_1"></span><span data-lang="In Progress" /></li>
    <li><span class="status status_2"></span><span data-lang="Completed" /></li>
    <li><span class="status status_3"></span><span data-lang="Completed With Errors" /></li>
    <li><span class="status status_4"></span><span data-lang="Place Holder" /></li>
    <li><span class="status status_5"></span><span data-lang="Conflict" /></li>
</ul>

@section Scripts{
    @Scripts.Render("~/Scripts/recordings/js")
}