@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/dashboard/css")
}

<div class="portlets">
    <div class="portlet container">
        <div class="container-title" data-lang="Device Status">
        </div>
        @Html.Partial("_Tuners")
    </div>
    <div class="portlet small container">
        <div class="container-title" data-lang="Upcoming Recordings">
        </div>
        @Html.Partial("_UpcomingRecordings")
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/dashboard/devices.js")
    @Scripts.Render("~/Scripts/dashboard/upcomingrecordings.js")
}