@{
    Layout = "";
}

@Styles.Render("~/Content/dashboard/css")

<div class="portlets">
    <div class="portlets-large" id="portlet-device-status">
        <div class="portlet container">
            <div class="container-title" data-lang="Device Status">
            </div>
            @Html.Partial("_Tuners")
        </div>
    </div>
    <div class="portlets-small" id="portlet-upcoming-recordings">
        <div class="portlet small container">
            <div class="container-title" data-lang="Upcoming Recordings">
            </div>
            @Html.Partial("_UpcomingRecordings")
        </div>
        <div class="portlet small container" id="portlet-disk-usage">
            <div class="container-title" data-lang="Disk Usage">
            </div>
            @Html.Partial("_DiskUsage")
        </div>
    </div>

</div>

@Scripts.Render("~/Scripts/dashboard/devices.js")
@Scripts.Render("~/Scripts/dashboard/upcomingrecordings.js")
@Scripts.Render("~/bundles/charting")