@model List<NextPvrWebConsole.Models.Channel>
@{
    DateTime GuideStart = ((DateTime)ViewBag.GuideStart).ToUniversalTime();
    DateTime GuideEnd = GuideStart.AddDays(1);
    int minuteWidth = 5;
    var listingCss = new Func<NextPvrWebConsole.Models.EpgListing, string>((NextPvrWebConsole.Models.EpgListing listing) =>
    {            
        DateTime dEnd = listing.EndTime;
        DateTime dStart = listing.StartTime;

        if (listing.EndTime > GuideEnd)
        {
            dEnd = GuideEnd; // ends before end of day
        }

        var start = (int)dStart.Subtract(GuideStart).TotalMinutes;
        var end = (int)dEnd.Subtract(GuideStart).TotalMinutes;

        if (start < 0)
        {
            start = 0; // starts the day before
        }

        return "left: " + ((minuteWidth * start)) + "px;width:"+ ((minuteWidth * (end - start)) - 1) + "px";
    });
    var listingClass = new Func<NextPvrWebConsole.Models.EpgListing, string>((NextPvrWebConsole.Models.EpgListing listing) =>
    {
        string _class = "";

        if (listing.StartTime < GuideStart)
        {
            _class += "pre-guide-start ";
        }
        if (listing.EndTime > GuideEnd)
        {
            _class += "post-guide-end ";
        }
        if (listing.IsRecording)
        {
            _class += "recording ";
        }
        return _class;
    });
}


    <div class="epg-channels">
        <ul>
            @foreach (var channel in Model)
            {
            <li click="liveStream();" class="epg-channel @(channel.HasIcon ? "logo-available" : "")" title="Start Live TV" id="epg-channel-@channel.Oid">
                <div class="logo">
                    @if (channel.HasIcon)
                    {
                        <img class="logo" src="/channelicon/@channel.Oid" />
                    }
                </div>
                <span class="name">@channel.Name</span>
                <span class="number">@channel.Number</span>      
            </li>
            }
        </ul>
    </div>
    <div class="epg-time">
        <ul class="timeline">
            @for (int i = 0; i < 24; i++)
            {
            <li class="time">
                <span>@(i == 0 ? "12am" : (i == 12 ? "12pm" : (i > 12 ? (i - 12) + "pm" : i + "am")))</span>
            </li> 
            }
        </ul>
    </div>
    <div class="epg-listings">
        <div class="epg-listings-channel">        
            @foreach (var channel in Model)
            {
            <ul class="listings" data-channeloid="@channel.Oid">
                @foreach (var listing in channel.Listings ?? new List<NextPvrWebConsole.Models.EpgListing>())
                {
                <li data-oid="@listing.Oid" data-recordingoid="@listing.RecordingOid" data-isrecurring="@(listing.IsRecurring ? "1" : "0")" ondblclick="guide.openListing(this)" style="@listingCss(listing)" class="listing @listingClass(listing)">
                    <div>
                        <span class="title">@listing.Title</span>
                        <span class="subtitle">@listing.Subtitle</span>
                        <span class="start">@listing.StartTime.ToLocalTime().ToString("h:mm tt").Replace("a.m.", "AM").Replace("p.m.", "PM")</span>
                    </div>
                </li>
                }
            </ul>
            }
        </div>
        <div id="epg-time-indicator" class="epg-time-indicator">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
    </div>