@{
    ViewBag.Title = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/guide/css")
}
<div id="epg-viewmodel-container">
    <div class="epgpage-container" style="visibility:hidden">

        <div class="epg-days">
            <ul>
            @{
                var now = DateTime.Now;
                now = new DateTime(now.Year, now.Month, now.Day, 0, 0, 0);    
                for (int i = 0; i < 7; i++)
                {
                <li class="@(i == 0 ? "selected" : "")" data-date="@now.AddDays(i).ToString("yyyy-MM-dd")">
                    <a href="#" onclick="guide.epgChangeDay(this); return false;">@now.AddDays(i).DayOfWeek (@now.AddDays(i).ToString("d MMM"))</a>
                </li>
                }
            }
            </ul>
        </div>
    
        <div id="epg-groups" style="display:none">
            <ul>
            @{
                bool first = true;
                foreach (var g in ViewBag.Groups)
                {
                <li class="group @(first ? "selected" : "")" data-name="@g.Name"><span>@g.Name</span></li>
                    first = false;
                }        
            }
            </ul>
            <div class="epg-groups-button previous" onclick="guide.previousChannelGroup()"><span class="icon-caret-down"></span></div>
            <div class="epg-groups-button next" onclick="guide.nextChannelGroup()"><span class="icon-caret-up"></span></div>
        </div>

        <div class="epg-container">
            <div class="epg">
                <!-- loaded from ajax call -->
            </div>
        </div>
    </div>

</div>

            
<div id="show-info" style="display:none">    
    <img class="channelIcon" />
    <span class="channelnumber"></span>
    <span class="channelname"></span>
    <span class="time"></span>
    <span class="genres"></span>  
    <span class="subtitle"></span>
    <span class="description"></span>  
</div>

<div id="Guide-ScheduleEditor" style="display:none" data-bind="with: selectedListing">
@Html.Partial("_ScheduleEditor")
</div>

<input type="hidden" id="index2" />

@section Scripts{
    @Scripts.Render("~/scripts/core/jquery.nicescroll.js")
    @Scripts.Render("~/Scripts/guide/index2.js")

    <script>
        $(function () {
            var resize = function () {
                $('.body-wrapper').height($(window).height() - 40);
            };
            resize();
            $(window).resize(resize);
            setTimeout(function () {
                $('.epgpage-container').css("visibility", "visible");
            }, 500);
        });
    </script>
}