@{
    ViewBag.Title = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/guide/css")
}

<div class="epgpage-container" style="visibility:hidden">

    <div class="epg-days">
        <ul data-bind="foreach:epgdays">
            <li data-bind="attr: { class: cssClass }">
                <a href="#" data-bind="text: displayText, click: $root.changeEpgDay" onclick="return false"></a>
            </li>
        </ul>
    </div>
    
    <div id="epg-groups">
        <ul>
        @{
            bool first = true;
            foreach (var g in ViewBag.Groups)
            {
            <li class="group @(first ? "selected" : "")" data-name="@g.Name"><span>@g.Name</span></li>
                first = false;
            }        
        }
        </ul>
        <div class="epg-groups-button previous"><span class="icon-caret-down"></span></div>
        <div class="epg-groups-button next"><span class="icon-caret-up"></span></div>
    </div>

    <div class="epg-container">
        <div class="epg">

            <div class="epg-channels">
                <ul data-bind="foreach: channels, visible: channels().length > 0">
                    <li data-bind="attr: { class: $root.channelClass($data, 'epg-channel') }">
                        <div class="logo"><img class="logo" data-bind="visible: hasIcon, attr: { src: iconSrc()  } "  /></div>
                        <span class="name" data-bind="text: name"></span>
                        <span class="number" data-bind="text: number"></span>      
                    </li>
                </ul>
            </div>
            <div class="epg-time">
                <ul class="timeline">
                    @for (int i = 0; i < 24; i++)
                    {
                    <li class="time">
                        <span>@(i == 0 ? "12am" : (i == 12 ? "12pm" : (i > 12 ? (i - 12) + "pm" : i + "am")))</span>
                    </li> 
                    }
                </ul>
            </div>
            <div class="epg-listings">
                <div class="epg-listings-channel" data-bind="foreach: channels, visible: channels().length > 0">
                    <ul class="listings" data-bind="foreach:listings, attr: { 'data-channeloid': oid } ">
                        <li data-bind="attr: { style: $root.listingCss($data), class: $root.listingClass($data, 'listing') }, event: { dblclick: $root.openListing }">
                            <div>
                                <span class="title" data-bind="text: title"></span>
                                <span class="start" data-bind="text: $root.formattedDate(startTime())"></span>
                                <span class="subtitle" data-bind="text: subtitle"></span>
                                <span class="description" data-bind="text: description"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="epg-time-indicator" class="epg-time-indicator">
                    <div class="top"></div>
                    <div class="middle"></div>
                    <div class="bottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="show-info" style="display:none" data-bind="with: selectedshow">    
    <img class="channellogo" data-bind="visible: channelLogoVisible, attr: { src: channelLogoData } " />
    <span class="channelnumber" data-bind="text:channelNumber"></span>
    <span class="channelname" data-bind="text:channelName"></span>
    <span class="time">
        <text data-bind="text:startTimeLong()"></text> - <text data-bind="text:endTimeShort()"></text> (<text data-bind="text:duration()"></text>)
    </span>
    <span class="genres" data-bind="text:genresString()"></span>  
    <span class="subtitle" data-bind="stext: subtitle"></span>
    <span class="description" data-bind="text: description"></span>  
</div>

<div id="recording-options" style="display:none">
    <table>
        <tr>
            <td data-lang="Recording Type"></td>
            <td>
                <select id="recording-type">
                    <option value="0" data-lang="Record_Once"></option>
                    <option value="1" data-lang="Record_Season_New"></option>
                    <option value="2" data-lang="Record_Seaon_All"></option>
                    <option value="3" data-lang="Record_Season_Daily"></option>
                    <option value="4" data-lang="Record_Season_Weekly"></option>
                    <option value="5" data-lang="Record_Season_Mon_To_Fri"></option>
                    <option value="6" data-lang="Record_Season_Weekends"></option>
                    <option value="7" data-lang="Record_All_Eps_All_Chs"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td data-lang="PrePadding"></td>
            <td><input type="number" min="0" max="89" id="recording-prepadding" value="@ViewBag.PrePadding" /> (<span data-lang="Minutes"></span>)</td>
        </tr>

        <tr>
            <td data-lang="PostPadding"></td>
            <td><input type="number" min="0" max="89" id="recording-postpadding" value="@ViewBag.PostPadding" /> (<span data-lang="Minutes"></span>)</td>
        </tr>

        <tr>
            <td data-lang="RecordingDirectory"></td>
            <td>
                <select id="recording-directory">
                    @foreach (var dir in ViewBag.RecordingDirectories)
                    {
                        <option value="@dir.Oid">@dir.Name</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td data-lang="Keep"></td>
            <td>
                <select id="recording-keep">
                    <option value="0" data-lang="All Recordings"></option>
                    @for (int i = 1; i < 29; i++)
                    {
                        <option value="@i">@i <span data-lang="@(i == 1 ? "RecordingSingle" : "RecordingPlural")" /></option>
                    }
                </select>
            </td>
        </tr>
    </table>
</div>

@section Scripts{
    @Scripts.Render("~/scripts/core/jquery.nicescroll.js")
    @Scripts.Render("~/Scripts/guide/index.js")

    <script>
        $(function () {
            var resize = function () {
                $('.body-wrapper').height($(window).height() - 40);
            };
            resize();
            $(window).resize(resize);
            setTimeout(function () {
                $('.epgpage-container').css("visibility", "visible");
            }, 500);
        });
    </script>
}