@{
    var smtpModel = (NextPvrWebConsole.Models.ConfigurationModels.SmtpConfiguration)ViewBag.SmtpModel;
}

<form id="UpdateSmtpSettings"  ng-controller="Controllers.System.SmtpController">
    <p data-lang="Smtp-Summary"></p>
    
    <table>
        <tr>
            <td>@Html.LabelFor(m=>smtpModel.Server, new { data_lang="Server"})</td>
            <td class="value">
                @Html.TextBoxFor(m => smtpModel.Server, new { ng_model = "model.Server" })
                @Html.ValidationMessageFor(m => smtpModel.Server)
                <span class="description" data-lang="Smtp-Server-Description" />
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m=>smtpModel.Port, new { data_lang="Port"})</td>
            <td class="value">
                @Html.TextBoxFor(m => smtpModel.Port, new { type = "number", min="1", max="65535", ng_model = "model.Port" })
                @Html.ValidationMessageFor(m => smtpModel.Port)
                <span class="description" data-lang="Smtp-Port-Description" />
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m=>smtpModel.Sender, new { data_lang="Sender"})</td>
            <td class="value">
                @Html.TextBoxFor(m => smtpModel.Sender, new { ng_model = "model.Sender" })
                @Html.ValidationMessageFor(m => smtpModel.Sender)
                <span class="description" data-lang="Smtp-Sender-Description" />
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m=>smtpModel.Username, new { data_lang="Username"})</td>
            <td class="value">
                @Html.TextBoxFor(m => smtpModel.Username, new { ng_model = "model.Username" })
                @Html.ValidationMessageFor(m => smtpModel.Username)
                <span class="description" data-lang="Smtp-Username-Description" />
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m=>smtpModel.Password, new { data_lang="Password"})</td>
            <td class="value">
                @Html.TextBoxFor(m => smtpModel.Password, new { type="password", ng_model = "model.Username" })
                @Html.ValidationMessageFor(m => smtpModel.Password)
                <span class="description" data-lang="Smtp-Password-Description" />
            </td>
        </tr>
        <tr>
            <td><label for="model_UseSsl" data-lang="Use SSL"></label></td>
            <td class="value">
                <toggle-box id="model_UseSsl" ng-model="model.UseSsl"></toggle-box>
                <span class="description" data-lang="Smtp-UseSsl-Description" />
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td class="value">
                <button ng-click="save()" class="btn btn-primary">
                    <i class="icon-save icon-large" /> <span data-lang="Save"></span>
                </button>
            </td>

        </tr>
    </table>
</form>