@{
    var model = (NextPvrWebConsole.Models.ConfigurationModels.SmtpConfiguration)ViewBag.SmtpModel;
}
<table>
    <tr>
        <td class="label" data-lang="Server"></td>
        <td class="value">
            @Html.EditorFor(m => model.Server)
            @Html.ValidationMessageFor(m => model.Server)
            <span class="description" data-lang="Smtp-Server-Description" />
        </td>
    </tr>
    <tr>
        <td class="label" data-lang="Port"></td>
        <td class="value">
            @Html.EditorFor(m => model.Port)
            @Html.ValidationMessageFor(m => model.Port)
            <span class="description" data-lang="Smtp-Server-Description" />
        </td>
    </tr>
    <tr>
        <td class="label" data-lang="Username"></td>
        <td class="value">
            @Html.EditorFor(m => model.Username)
            @Html.ValidationMessageFor(m => model.Username)
            <span class="description" data-lang="Smtp-Username-Description" />
        </td>
    </tr>
    <tr>
        <td class="label" data-lang="Password"></td>
        <td class="value">
            @Html.EditorFor(m => model.Password)
            @Html.ValidationMessageFor(m => model.Password)
            <span class="description" data-lang="Smtp-Password-Description" />
        </td>
    </tr>
    <tr>
        <td class="label" data-lang="Use SSL"></td>
        <td class="value">
            @Html.EditorFor(m => model.UseSsl)
            <span class="description" data-lang="Smtp-UseSsl-Description" />
        </td>
    </tr>
</table>