@{
    Layout = "";
}


<div class="system vtab-container">

    <ul class="vtab-buttons">
        <li ng-class="{ first: true, selected: selectedTabIndex == 0 }" ng-click="selectedTabIndex = 0">
            <i class="gi-adjust_slider"></i>
            <span data-lang="General" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 1 }" ng-click="selectedTabIndex = 1">
            <i class="gi-message_full"></i>
            <span data-lang="SMTP Settings" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 2 }" ng-click="selectedTabIndex = 2">
            <i class="gi-parents"></i>
            <span data-lang="Users" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 3 }" ng-click="selectedTabIndex = 3">
            <i class="gi-notes"></i>
            <span data-lang="Logs" />
        </li>
        <li ng-class="{ last: true, selected: selectedTabIndex == 4 }" ng-click="selectedTabIndex = 4">
            <i class="gi-circle_info"></i>
            <span data-lang="About" />
        </li>
    </ul>

    <div class="vtab-content selected" id="system-tab-general" ng-show="selectedTabIndex == 0">
        @Html.Partial("_General")
    </div>

    <div class="vtab-content" id="system-tab-smtp" ng-show="selectedTabIndex == 1">
        @Html.Partial("_SmtpSettings")
    </div>

    <div class="vtab-content" id="system-tab-users" ng-show="selectedTabIndex == 2">
        @Html.Partial("_Users")
    </div>
    
    <div class="vtab-content" id="system-tab-logs" ng-show="selectedTabIndex == 3">
        @Html.Partial("_Logs")
    </div>
    
    <div class="vtab-content" id="system-tab-about" ng-show="selectedTabIndex == 4">
        @Html.Partial("_About")
    </div>

</div>


@Scripts.Render("~/Scripts/vtabs.js")