@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/usersettings/css")
}

<div class="user-settings vtab-container">

    <ul class="vtab-buttons">
        <li data-tab="user-settings-tab-channelgroups" class="first selected">Channel Groups</li>
        <li data-tab="user-settings-tab-channels">Channels</li>
        <li data-tab="user-settings-tab-recordingdirectories" class="last">Recording Directories</li>
    </ul>

    <div class="vtab-content selected" id="user-settings-tab-channelgroups">
        @Html.Partial("_ChannelGroups")
    </div>
    <div class="vtab-content" id="user-settings-tab-channels">
        @Html.Partial("_Channels")
    </div>
    <div class="vtab-content" id="user-settings-tab-recordingdirectories">
        @Html.Partial("_RecordingDirectories")
    </div>

</div>


@section Scripts{
    @Scripts.Render("~/Scripts/usersettings/js")
}
