@{
    ViewBag.Title = "User Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/usersettings/css")
}

<div class="user-settings vtab-container">

    <ul class="vtab-buttons">
        <li data-tab="channelgroups" class="first selected"><i class="icon icon-sitemap"></i><span data-lang="Channel Groups" /></li>
        @if (ViewBag.UserRecordingDirectoriesEnabled)
        {
            <li data-tab="channels"><i class="icon icon-list-ul"></i><span data-lang="Channels" /></li>
            <li data-tab="recordingdirectories" class="last"><i class="icon icon-folder-close"></i><span data-lang="Recording Directories" /></li>
        }
        else
        {
            <li data-tab="channels" class="last"><i class="icon icon-list-ul"></i><span data-lang="Channels" /></li>
        }
    </ul>

    <div class="vtab-content selected" id="user-settings-tab-channelgroups">
        @Html.Partial("_ChannelGroups")
    </div>
    <div class="vtab-content" id="user-settings-tab-channels">
        @Html.Partial("_Channels")
    </div>
    @if (ViewBag.UserRecordingDirectoriesEnabled)
    {
        <div class="vtab-content" id="user-settings-tab-recordingdirectories">
            @Html.Partial("_RecordingDirectories")
        </div>
    }

</div>


@section Scripts{
    @Scripts.Render("~/Scripts/usersettings/js")
}
