@{
    Layout = "";
    var modelRecording = (NextPvrWebConsole.Models.ConfigurationModels.RecordingConfiguration)ViewBag.RecordingModel;
    var modelDevices = (NextPvrWebConsole.Models.ConfigurationModels.DevicesConfiguration)ViewBag.DevicesModel; 
}

<div class="configuration vtab-container">

    <ul class="vtab-buttons">
        <li ng-class="{ first: true, selected: selectedTabIndex == 0 }" ng-click="selectedTabIndex = 0">
            <i class="gi-adjust_slider"></i>
            <span data-lang="General" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 1 }" ng-click="selectedTabIndex = 1">
            <i class="gi-cogwheels"></i>
            <span data-lang="Devices" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 2 }" ng-click="selectedTabIndex = 2">
            <i class="gi-play_button"></i>
            <span data-lang="Recording" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 3 }" ng-click="selectedTabIndex = 3">
            <i class="gi-tags"></i>
            <span data-lang="Channel Groups" />
        </li>
        <li ng-class="{ selected: selectedTabIndex == 4 }" ng-click="selectedTabIndex = 4">
            <i class="gi-display"></i>
            <span data-lang="Channels" />
        </li>
        <li ng-class="{ last: true, selected: selectedTabIndex == 5 }" ng-click="selectedTabIndex = 5">
            <i class="gi-embed_close"></i>
            <span data-lang="EPG Sources" />
        </li>
    </ul>
    
    <div class="vtab-content selected" id="configuration-tab-general" ng-show="selectedTabIndex == 0">
        @Html.Partial("_General")
    </div>
    <div class="vtab-content" id="configuration-tab-devices" ng-show="selectedTabIndex == 1">
        @Html.Partial("_Devices")
    </div>
    <div class="vtab-content" id="configuration-tab-recording" ng-show="selectedTabIndex == 2">
        @Html.Partial("_Recording")
    </div>
    <div class="vtab-content" id="configuration-tab-channelgroups" ng-show="selectedTabIndex == 3">
        @Html.Partial("_ChannelGroups")
    </div>
    <div class="vtab-content" id="configuration-tab-channels" ng-show="selectedTabIndex == 4">
        @Html.Partial("_Channels")
    </div>
    <div class="vtab-content" id="configuration-tab-epg" ng-show="selectedTabIndex == 5">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#epg-xmltv" data-toggle="tab">XMLTV</a></li>
            <li><a href="#epg-schedules-direct" data-toggle="tab">Schedules Direct</a></li>
        </ul>
 
        <div class="tab-content">
            <div class="tab-pane active" id="epg-xmltv">
                @Html.Partial("_XmlTv")
            </div>
            <div class="tab-pane" id="epg-schedules-direct">
                <table>
                    <tr>
                        <td>Emabled</td>
                        <td><toggle-box></toggle-box></td>
                    </tr>
                    <tr>
                        <td>User Name</td>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="btn">Download</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Lineup</td>
                        <td>
                            <select></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Mapping</td>
                        <td>
                            <select></select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/vtabs.js")