<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 oldie no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js"> <![endif]-->
<!--[if IE 10 ]>   <html class="ie ie10 no-js"> <![endif]-->
<!--[if gt IE 10 ]>   <html class="ie no-js"> <![endif]-->
<!--[if !(IE)]><!--> <html class="notie no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title data-lang="@ViewBag.Title">@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/bootstrap/css")         
    @Styles.Render("~/Content/account/css")         
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/languages/en.js")

</head>
<body class="login-page">

    <div class="login-page-wrapper">

        <div class="login-page-content">
            @RenderBody()
        </div>

    </div>


    @Scripts.Render("~/bundles/loginjs")
    @Scripts.Render("~/bundles/api.js")
    @Scripts.Render("~/scripts/account/js")

    @RenderSection("scripts", required: false)
</body>
</html>