@model NextPvrWebConsole.Models.LoginModel

@{
    Layout = "_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}


<section id="loginForm">
<div class="loginForm-container">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()    
        <ul>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li class="rememberme">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "noibutton" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ul>
    
        <a href="#" onclick="return false" id="lnkForgotPassword" data-lang="Forgot Password?"></a>
        
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" data-lang="Login"></button>
        @Html.ValidationSummary(true)
    }
</div>
<div class="forgotpasswordForm-container" style="display:none">
    @using (Html.BeginForm("ForgotPassword", "Account"))
    {
        <h1 data-lang="Forgot Password"></h1>
        <p data-lang="Please fill in your username or email address and a password reset request will be email to you."></p>
        <ul>
            <li>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ul>
        
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" data-lang="Reset"></button>
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="return false" id="btnForgotPasswordCancel" data-lang="Cancel"></button>
        @Html.ValidationSummary(true)
    }
</div>

@if (ViewBag.PasswordReset == true)
{
    <script>
        alert('Password reset request sent.');
    </script>
}
else if (ViewBag.PasswordReset == false)
{
    <script>
        alert('Failed to send reset request sent.\n@(((String)ViewBag.Error).Replace("\r\n", "\\n").Replace("'", @"\'"))');
    </script>
}

</section>