@{
    var model = new NextPvrWebConsole.Models.LocalPasswordModel();       
}
@using (Ajax.BeginForm("ChangePassword", "Account", null, new AjaxOptions() { HttpMethod = "POST", OnComplete = "ChangePassword_OnComplete" }, new { id = "changePasswordForm" }))
{
<table>
    <tr>
        <td class="label" data-lang="Current Password"></td>
        <td class="value">
            @Html.EditorFor(m => model.OldPassword)
            @Html.ValidationMessageFor(m => model.OldPassword)
        </td>
    </tr>
    <tr>
        <td class="label" data-lang="New Password"></td>
        <td class="value">
            @Html.EditorFor(m => model.NewPassword)
            @Html.ValidationMessageFor(m => model.NewPassword)
        </td>
    </tr>
    <tr>
        <td class="label" data-lang="Confirm Password"></td>
        <td class="value">
            @Html.EditorFor(m => model.ConfirmPassword)
            @Html.ValidationMessageFor(m => model.ConfirmPassword)
        </td>
    </tr>
</table>
}