@{
    var model = new NextPvrWebConsole.Models.LocalPasswordModel();       
}
@using (Ajax.BeginForm("ChangePassword", "Account", null, new AjaxOptions() { HttpMethod = "POST", OnComplete = "ChangePassword_OnComplete" }, new { id = "changePasswordForm" }))
{
<div class="modal hide" id="modalChangePassword">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 data-lang="Change Password"></h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                @Html.LabelFor(m => model.OldPassword, new { data_lang="Current Password" })
                @Html.EditorFor(m => model.OldPassword)
                @Html.ValidationMessageFor(m => model.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => model.NewPassword, new { data_lang="New Password" })
                @Html.EditorFor(m => model.NewPassword)
                @Html.ValidationMessageFor(m => model.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => model.ConfirmPassword, new { data_lang="Confirm Password" })
                @Html.EditorFor(m => model.ConfirmPassword)
                @Html.ValidationMessageFor(m => model.ConfirmPassword)
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" data-lang="Close"></button>
        <button type="submit" class="btn btn-primary" data-lang="Save"></button>
    </div>
</div>
}