@{
    Layout = null;
    string selected = ViewContext.Controller.GetType().Name.Replace("Controller", "").ToLower();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/mobile/css")         
    @RenderSection("styles", required: false)
       
    @Scripts.Render("~/bundles/mobile/js")   

</head>
<body>

    <div data-role="page"> 
        
        @RenderBody()
        
        <div data-role="footer" data-position="fixed" data-tap-toggle="false">		
	        <div data-role="navbar">
		        <ul>
			        <li><a class="@(selected == "dashboard" ? "ui-btn-active ui-state-persist" : "")" href="@Url.Action("Index", "Dashboard")" data-icon="home">Dashboard</a></li>
			        <li><a class="@(selected == "guide" ? "ui-btn-active ui-state-persist" : "")" href="@Url.Action("Index", "Guide")" data-icon="grid">Guide</a></li>
			        <li><a class="@(selected == "recordings" ? "ui-btn-active ui-state-persist" : "")" href="@Url.Action("Index", "Recordings")" data-icon="star">Recordings</a></li>
                    <li><a class="@(selected == "usersettings" ? "ui-btn-active ui-state-persist" : "")" href="@Url.Action("Index", "UserSettings")" data-icon="gear">Settings</a></li>
		        </ul>
	        </div><!-- /navbar -->
        </div><!-- /footer -->
    </div>
</body>
</html>