<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 oldie no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js"> <![endif]-->
<!--[if IE 10 ]>   <html class="ie ie10 no-js"> <![endif]-->
<!--[if gt IE 10 ]>   <html class="ie no-js"> <![endif]-->
<!--[if !(IE)]><!--> <html class="notie no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title data-lang="@ViewBag.Title">@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/bootstrap/css")         
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/languages/en.js")
</head>
<body>

    <div class="body-background"></div>

    <div class="body-wrapper">

        <div class="siteheader-wrapper">
            <div class="siteheader">

                <div class="logo"></div>
                
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                
                <section id="search">
                    @Html.Partial("_Search")
                </section>

                @Html.Partial("_Menu")
            </div>
        </div>

        <div class="siteheader-spacer"></div>
    
        <div class="maincontent">
            @RenderBody()
        </div>

        <div id="working">
            Working...
        </div>

    </div>

    <div id="ChangePasswordContainer" style="display:none">
        @Html.Partial("_ChangePassword")
    </div>
    
    @Scripts.Render("~/bundles/jscore")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/api.js")

    @RenderSection("scripts", required: false)
</body>
</html>