@{
    Layout = null;

    string selected = ViewContext.Controller.GetType().Name.Replace("Controller", "");
}
<nav class="mainmenu">
    <ul>
        <li class="@(selected == "Dashboard" ? "selected" :"")">@Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { data_lang = "Dashboard" })</li>
        <li class="@(selected == "Guide" ? "selected" :"")">@Html.ActionLink("Guide", "Index", "Guide", null, new { data_lang = "Guide" })</li>
        <li class="@(selected == "Recordings" ? "selected" :"")">@Html.ActionLink("Recordings", "Index", "Recordings", null, new { data_lang = "Recordings" })</li>
        <li class="@(selected == "UserSettings" ? "selected" :"")">@Html.ActionLink("User Settings", "Index", "UserSettings", null, new { data_lang = "User Settings" })</li>
        <li class="@(selected == "Configuration" ? "selected" :"")">@Html.ActionLink("Configuration", "Index", "Configuration", null, new { data_lang = "Configuration" })</li>
    </ul>
</nav>